# tasks/main.yml
#
# Define server related common tasks

---
- name: Setup some basic environment vars
  copy:
    src: environment.sh
    dest: /etc/profile.d/environment.sh

- name: Ensure hostname/dbus is installed
  apt:
    name={{ item }}
    state=present
  with_items:
    - hostname
    - dbus
    - ntp

- name: Ensure hostname is set correctly
  command: hostnamectl set-hostname {{ inventory_hostname }}

- name: Ensure correct timezone
  command: timedatectl set-timezone Europe/Berlin

- name: Create /etc/hosts
  lineinfile:
    dest: /etc/hosts
    line: "{{ hostvars[item].ansible_host }} {{ hostvars[item].inventory_hostname }} {{ hostvars[item].inventory_hostname_short }}"
  state: present
  with_items: "{{ groups.all }}"




